@import "./mixin";

#main-nav {
    min-height: 4rem;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2.5px solid $primary-color;
    background-color: $secondary-color;
    z-index: 1;

    .logo {
        color: $primary-color;
        font-size: 1.25rem;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;

        .links {
            padding: 0.5rem;

            &:hover {
                background-color: $primary-color;
                padding: 0.5rem;
                border-radius: 0.25rem;
            }

            a {
                color: $special-color;
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 500px) {
    #main-nav {
        flex-direction: column;
        align-items: end;
        padding: 0.5rem 0;

        .logo,
        .mobile-friendly {
            margin: auto;
        }
    }
}